upstream lb-<%= @app_name %> {
      ip_hash;
      server 192.168.10.10:3000;
      server 192.168.10.10:3002;
}
server {
      listen 3001;

      server_name <%= @server_name %>;
      
      access_log  /var/log/nginx/nginx.access.app.log;
      error_log  /var/log/nginx/nginx_error.app.log debug;
      location / {
        proxy_pass http://lb-app; # Load balance
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
      }

}
